<div class="saved-card-holder  {{config.class}}" [formGroup]="group" [ngClass]="{'has-error': shouldShowErrors(config.key,group) , 'show':(usedAccount && config.visibleOnRepeatPayment) || (!usedAccount && config.visibleOnNewPayment),'hide':(usedAccount && !config.visibleOnRepeatPayment) || (!usedAccount && !config.visibleOnNewPayment)}">
  <div class="radio saved-cc" *ngFor="let accounts of selectedMethodData.accounts">
    <input [value]="accounts.accountId" type="radio" [name]="config.key" [id]="accounts.accountId+callingFrom" title="" [formControlName]="config.key" />
    <label [attr.for]="accounts.accountId+callingFrom"><span>{{accounts.maskedAccount}}</span></label>
  </div>
</div>
