<div class="dynamic-field form-input {{config.class}} {{getFormFiledClass(config.key,group)}}" [formGroup]="group" [ngClass]="{'show':(usedAccount && config.visibleOnRepeatPayment) || (!usedAccount && config.visibleOnNewPayment),'hide':(usedAccount && !config.visibleOnRepeatPayment) || (!usedAccount && !config.visibleOnNewPayment)}">
  <div class="error-msg" *ngIf="shouldShowErrors(config.key,group)">
    <div class="error-msg--inner "> {{getErrorMessage(config.key,group)}} </div>
  </div>
  <input [type]="config.type" [attr.placeholder]="config.name" [formControlName]="config.key" (focus)="onFocusForElement(config.key)" (focusout)="onFocusOutForElement()" class="form-control" (keydown)="onKeyPress()"/>
</div>
