<!-- <div class="loader-icon ">
  <img src="/assets/img/loader.png" class="logo-flashing">
  <h3> Loading ...</h3>
</div> -->


<div class="loader-jr" >
        <div class="loader-gif">
          <img src="/assets/img/loader.png" class="logo-flashing">
          <p>Loading <span>.</span><span>.</span><span>.</span></p>
        </div>
      </div>