@import "~mixin.scss";







/*.loader-icon {
  display: table;
  table-layout: fixed;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: auto;
  p,
  h3 {
    color: #FFF;
  }


}*/

.loader-jr {
  position: relative;
  margin: 20px auto;
  .loader-gif {
    @include centerer;
    height: 100%;
    text-align: center;
    img {
      width: 75px;
      height: 75px;
    }


    p,
    h3 {
      margin: 10px auto;
      color: #FFF!important;
      span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        &:nth-child(2) {
          animation-delay: .2s;
        }
        &:nth-child(3) {
          animation-delay: .4s;
        }
      }
    }
  }


  .games-section & {
    img {
      width: 125px;
      height: 125px;
    }
    p {
      font-size: 24px;
    }
  }

  .loader-space & {
    .loader-gif {
      margin: -20px auto;
      img {
        width: 40px;
        height: 40px;
        float: left;
      }
      p {
        padding: 0 8px;
        float: left;
        font-weight: 400;
        text-transform: none;
      }
    }
  }


  .logo-flashing {
    animation-name: flash-logo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

    @keyframes flash-logo {
      0% {
        filter: brightness(0%);
        -webkit-filter: brightness(0%);
      }
      50% {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
      }
      100% {
        filter: brightness(0%);
        -webkit-filter: brightness(0%);
      }
    }
  }

  @keyframes blink {

    0% {
      opacity: .2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: .2;
    }
  }
}

.cashierModal {
  .loader-jr {
    width: 100px;
    height: 100px;
  }
  .loader-eligible-bonus {
    .loader-jr {
      width: auto;
      height: auto;
      margin: auto;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
.promo-loader{
  position: absolute;
  margin: auto;
}