 @import "~variables.scss";
 @import "~mixin.scss";

 .game-section-header {
   background: #EF5048;
   padding: 12px 0;
   position: relative;
   height: 56px;
   &:after {
     
   }
   .filter-gamemenu-mobile {
     display: none;

     .bootstrap-select {
       .dropdown-toggle {
         text-transform: uppercase;
         .caret {
           &:after {
             color: $games-search-bar-icon-color;
           }
         }
       }
       .dropdown-menu {
         &.open {
           background: #000;
           color: #FFF;
           margin-left: -12px;
           width: calc(100% + 24px);
           border: 1px solid $primary-color;
           border-radius: 0;
           z-index: 9999;
           margin-top: 20px;
           margin-bottom: 20px;

           .inner {
             background: #000;
             li {
               a {
                 font-size: 16px;
                 padding: 5px 10px 5px;
                 line-height: 16px;
                 color: #FFF;
                 text-transform: uppercase;
                 &:hover,
                 &:focus {
                   background: transparent;
                   color: $primary-color;
                 }
                 span {
                  &.text {
                    width: 100%;
                    white-space: normal;
                    word-break: break-word;
                    font-size: 14px;
                  }
                 }                 
               }
             }
           }
         }
       }
     }
   }
   .search-bar {
     float: left;
     background-color: $games-search-bar-bg-color;
     width: 200px;
     border: 2px solid #ffffff00;
     border-radius: 20px;
     .form-control {
       background-color: transparent;
       border-radius: 0;
       padding: 5px 0px 5px 10px;
       text-transform: uppercase;
       transition: .3s ease-in-out;
       color: #fffff;
       font-size: 14px;
/*       line-height: 1;
*/       border: 0;
       font-weight: 700;

       &:focus {
         border-color: transparent;
         box-shadow: none;
       }
       /*       @include placeholder {
         color: red;
       }*/
     }
     .input-group-addon {
       background-color: transparent;
       border: 0;
       padding: 0;
       button {
         border: 0;
         background-color: transparent;
         padding: 5px 10px 5px 5px;
         font-size: 18px;
         color: $games-search-bar-icon-color;
       }
     }
   }
   .filter-option {
     float: right;
     ul {
       padding: 0;
       margin: 0;
       li {
         list-style: none;
         display: inline-block;
         padding: 0 10px;
         color: #fff;
         font-size: 14px;
         line-height: 40px;

         text-transform: uppercase;
         cursor: pointer;
         &:hover {
           color: $games-filter-link-hover-text-color;
         }

         &.layout-view {
           /* img {
             height: 15px;
             opacity: 0.6;
           }*/
           opacity: 0.6;

           &.active {
             /*img {
               opacity: 1;
             }*/
             opacity: 1;
           }
         }

         &.active {
           font-weight: 700;
         }
       }
     }
   }
 }

 @media only screen and (max-width: 991px) {
   .game-section-header {
     &:after {
       height: 2px;
     }
     padding:7px 0;
     .search-bar {
       width: 100%;
       background: transparent;
       border-width: 1px;
        .input-group-addon{
        button{padding-top: 2px; padding-bottom: 2px; padding-right: 5px;}
       }
       .form-control {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
        padding-left: 8px;
         @include placeholder {
           color: #000;
         }
       }
     }
     .filter-option-holder {
       display: none;
     }
     .no-padding-m {
       &:first-child {
         padding-right: 7.5px;
         padding-left: 15px;
       }
       &:nth-child(2) {
         padding-left: 7.5px;
         padding-right: 15px;
       }
     }
     .filter-gamemenu-mobile {
       display: block;
       background: transparent;
       /*       padding: 3px 10px;*/
       padding: 0 8px 0 5px;
       color: $games-search-bar-icon-color;
       border: 1px solid $games-search-bar-icon-color;

       .bootstrap-select {
         .dropdown-toggle {
           background-color: transparent!important;
           padding: 0;
           border-color: transparent;
           &:hover {
             background-color: transparent!important;
           }
           .filter-option {
             font-size: 12px;
             line-height: 20px; 
             font-weight: 700;
             color: #000;
           }
         }
       }
     }
   }
 }

 .fix-search {
   position: fixed;
   left: 0;
   z-index: 15;
   width: 100%;
 }
