 @import "~variables.scss";
 .game-section-sidemenu {
   float: left;
   width: 200px;
   transition: margin 200ms;

   ul {
     padding: 0;
     margin: 0;
     list-style: none;
     li {

       font-weight: 400;
       font-size: 14px;
       line-height: 1;
       cursor: pointer;
       text-transform: uppercase;
       &.active {
         font-weight: 700;
       }
       a {
         color: #fff;
         padding: 10px 10px 10px 17px;
         display: block;
         box-sizing: border-box;
         &:hover {
           text-decoration: none;
         }
       }
       // &#jackpot-LeftSideButton {
       //   a {
       //     position: relative;
       //     &:before {
       //       content: 'J';
       //       background-color: $primary-color;
       //       padding: 1px 3px;
       //       position: absolute;
       //       top: 9px;
       //       left: 0px;
       //       font-size: 11px;
       //       border-radius: 3px;
       //       font-weight: bold;
       //       color: $site-body-bg-color;
       //       width: 12px;
       //       height: 12px;
       //       font-family: sans-serif;
       //     }
       //   }
       // }
     }
   }
 }

 @media only screen and (max-width: 991px) {
   .game-section-sidemenu {
     display: none;
   }
 }

 .fix-search {
   position: fixed;
   left: 0;
   z-index: 15;
   width: 100%;
 }
