@import "~variables.scss";
@import "~mixin.scss";
$promo-card-gutter-value:1%;

.promotions {
  hr {
    border-color: $primary-color;
  }

  margin-top: 113px;
  background: #1e634b;


  h1 {
    font-size: 36px;
    color: $cms-page-title-text-color;
    margin-bottom: 20px;
    font-weight: 700;
  }
  h3 {
    color: #FFF;
  }
  .clipmask-title {
    h1 {
      @include texture-title;
      font-size: 43px;
      letter-spacing: 3px;
      font-weight: bold;
      font-family: $font-secondary;
      margin: 0;
      margin-top: 20px;
      margin-bottom: 40px;
      text-transform:  uppercase;
    }
  }


  .promotion-cards-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $promo-card-gutter-value;
    padding-right: $promo-card-gutter-value;


    .promo-card-row {
      margin-right: - $promo-card-gutter-value;
      margin-left: - $promo-card-gutter-value;
      .promo-card-col {
        padding-left: $promo-card-gutter-value;
        padding-right: $promo-card-gutter-value;
        float: left;
        width: 100%;
        margin-bottom: 20px;

        @media only screen and (min-width: 992px) {
          width: calc(100% / 3);
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width: calc((100% - 1px) / 3);
          }
        }
        @media only screen and (min-width: 650px) and (max-width: 991px) {
          width: calc(100% / 2);
        }


        position: relative;
        min-height: 1px;
      }
    }
    @media (min-width: 992px) {
      width: 980px;
    }
  }
  .promo-card {
    padding: 15px;
    background: #025035;
    float: left;
    box-sizing: border-box;
    clear: both;
    width: 100%;
    height: 100%;

    &__img {
      overflow: hidden;
      background: rgba(white, 0.1);
      @media (min-width: 992px) {
        height: 143.17px;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 185px;
        background: rgba(white, 0.1);
        min-height: 143px;
        transition: all 250ms ease;


        /*object-fit: cover;*/
      }
      &:hover {
        cursor: pointer;
        img {
          opacity: 0.5;
          transform: scale(1.2);
        }
      }
    }
    &--title,
    &--intro-text {
      /*  overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;*/
    }
    &--title {
      /* color: $promo-card-title-text-color;
      font-size: 20px;
      -webkit-line-clamp: 2;
      max-height: 43px;
      min-height: 43px;
      margin-top: 15px;
      line-height: 1;*/
      padding: 6px 0;
      color: $promo-card-title-text-color;
      font-size: 20px;
      border-bottom: 1px solid #408e73;
      margin: 0;
      max-width: calc(100% - 3px);
      max-height: 40px;
      overflow: hidden;
      line-height: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 900;
    }
    &--intro-text {
      /*      -webkit-line-clamp: 3;
*/
      /* min-height: 70px;
      max-height: 70px;*/
      margin: 10px 0 15px;
      overflow: hidden;
      white-space: nowrap;
      max-height: 79px;
      min-height: 79px;
      h5 {
        color: #f9ccca;
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 5px 0;
      }
      p {
        font-size: 14px;
        color: #ffff;
        margin: 0;
        white-space: nowrap;
        line-height: 1.3;
      }
    }
    &--link-btn {
      text-transform: uppercase;
      font-weight: 900;
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .promotions {
    margin-top: 82px;
    padding: 0 15px;
    /*   h1 {
      font-size: 30px;
    }*/
    .clipmask-title {
      h1 {
        font-size: 30px;
      }
    }
    .promotion-cards-container {
      padding-right: 0;
      padding-left: 0;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 649px) {
  .promotions {
    .promotion-cards-container {
      .promo-card-row {
        display: flex;
        flex-direction: column;
        .promo-card-col {
          margin-left: auto;
          margin-right: auto; // float: none;
          @media only screen and (min-width: 420px) and (max-width: 649px) {
            max-width: 364px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 420px) and (max-width: 649px) {
  .promotions {
    .promotion-cards-container {
      .promo-card-row {
        .promo-card-col {}
      }
    }
  }
}
