@import "~variables.scss";


.fixed-footer {
   background: $fixed-footer-bg-color;
  height: 165px;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 100%;
  color: #fff;
  margin-bottom: -125px;
  transition: all 250ms ease;
/*  overflow: hidden;*/
  &.opened {
    margin-bottom: 0px;
    transition: all 250ms ease;

  }

  .f-tabs {
    margin: 0px;
    padding: 8.5px 20px;
    list-style: none;
    width: 100%;
    li {


      padding: 0 6px;
      font-size: 12px;
      text-transform: uppercase;
      color:rgba( $fixed-footer-link-text-color,0.6);

      cursor: pointer;
      &:first-child{
        padding-left:0;
      }
    
      font-weight: 400;
      display: inline-block;
      i {
        font-size: 16px;
        transition: all 250ms ease;
      }
       
      &:hover,
      &.current {
        font-weight: 700;
            color:rgba( $fixed-footer-link-text-color,1);
            &.quick-d-f{
              font-weight: normal;
            }
      }
      &:hover{
        font-weight: normal;
       }
 
      &.user-time-display {
        position: relative;
        font-size: 20px;
        padding: 0;
            color:rgba( $fixed-footer-link-text-color,1);
         
        a {
          font-size: 16px;
          i {
            font-size: 13px;
          }
        }
      }
      &.quick-d-f{
          position: absolute;
    right: 100px;
    top: 0;
      }
    }
  }

  #closeButton {
    i {
      font-size: 14px;
      position: relative;
      top: 2px;
    }
  }

  .f-tab-content {
    display: none;
        margin-top: -10px;

    &.current {
      display: inherit;
    }

    .f-games-container {
      background-color:lighten( $fixed-footer-bg-color, 5%);
      overflow-y: hidden;
      overflow-x: scroll;
      width: 100%;
      height: 150px;
      .f-game-row {
        width: 1000%;
        border-top: 10px solid  $fixed-footer-bg-color;
      }
      .f-game-card__content {
        height: 115px;

        float: left;
      }

      .f-game-card {
        width: 115px;
        height: 115px;
        padding: 10px;
        float: left;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 0px;
        transition: all 250ms ease;

        &:hover {
          background-color:lighten( $fixed-footer-bg-color, 15%);
          margin-top: -10px;
          transition: all 250ms ease;
          cursor: pointer;
          position: relative;
          z-index: 1;
        }
        &__img {
          img {
            width: 93px;
            height: 62px;
            border-radius: 3px;
            box-shadow: 1px 1px 4px #000;
          }
        }
        &--name {
          color: #fff;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          margin-top: 5px;
          text-overflow: ellipsis;
          max-width: 99%;
          overflow: hidden;
          max-height: 29px;
          
        }
        &--notfound {
          width: 100vw;
          height: 120px;
          text-align: center;
          vertical-align: middle;
          display: table-cell;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}







/*.f-game-row{
  width: 100000px;height: 100px;
}*/

@media only screen and (max-width: 991px) {
  .fixed-footer {
    display: none;
  }
}
