 @import "~variables.scss";
 @import "~mixin.scss";
 .staticHeader {}

 .main-header {
   background: #1e634b;
   display: table;
   box-sizing: border-box;
   width: 100%;
   /*height: 60px;*/
   height: 61px;
   padding: 0px 20px;

   &.active {
     background: #1e634b;
   }
   &.gameplay-screen {
     position: relative;
     height: auto;


     @media only (min-width: 992px) {
       padding: 10px 20px;
     }

     &:after {
       background: $gameplay-window-border;
       content: '';
       position: absolute;
       top: 100%;
       bottom: 0;
       left: 0;
       width: 100%;
       /*  height: 5px;*/
       height: 2px;
       right: 0;
     }
     .logo {
       padding-top: 0;
       img {
         width: 110px;
       }
     }
     .menu-icon {
       background-position: 0 0;
       transition: all 250ms ease;
     }
     .header__btn {
       .user__logged {
         .user__account-info {
           .user__account-info-row {
             &:first-child {
               margin-bottom: 0;
             }
           }
         }
       }
     }
   }

   .menu-icon {
     background: url('/assets/img/burger-menu.png') no-repeat center;
     background-size: 100%;
     height: 44px;
     display: table-cell;
     background-repeat: no-repeat;
     width: 34px;
     background-position: 0px 10px;
     cursor: pointer;
     transition: all 250ms ease;
     float: left;
    margin-top: 9px;
     /*
     i {
       font-size: 30px;
       color: $headerNavMenuIconColor;
     }*/
   }
   .logo {
     padding-left: 20px;
     outline: none;
     cursor: pointer;
     display: inline-block;
     padding-top: 8px;
     img {
       /* height: 52px;*/
       width: auto;
       display: block;
       outline: none;
       width: 248px;
       transition: all 250ms ease;
     }
   }
   .menu-icon,
   .header__btn {
     vertical-align: middle;
     display: table-cell;
   }
   .mobile-login-link {
     display: none;
   }
   .header__btn {
     text-align: right;
     
 

     &--login,
     &--signup {
       @extend .btn-ghost;
       min-width: 121px;
       /*text-transform: uppercase;
       padding: 6px 10px;
       cursor: pointer;
       text-align: center;
       font-size: 14px;
       line-height: 17px;*/
     }
     &--login {
        background: #333333;
       &.active {
         background: $ghost-btn-hover-bg-color;
         color: $ghost-btn-hover-text-color;
       }
     }
     &--signup {
       margin-left: 10px;
       background: #f9423a;
     }
     





     .user__logged {
       float: right;
       .user__details {
         float: left;
         display: table-cell;
         vertical-align: middle;
         color: #FFF;
       }
       .user__account-info {
         /*width: 240px;*/
         display: table;
         border-collapse: collapse;
         float: left;
         vertical-align: middle;
         &-row {
           display: table-row;
           &:first-child {
             margin-bottom: 10px;
             float: left;
           }
         }
         .btn-md {
           padding-top: 7px;
           padding-bottom: 7px;
         }
         &--text {
           @extend .btn-ghost;
           display: table-cell;
           /*   min-width: 142px;*/
           text-align: center;
           text-transform: uppercase;
           cursor: pointer;
           float: left;

           margin-left: 10px;
           min-width: 160px;
           &.deposit-b {
             background: $primary-header-deposit-btn-bg-color;
           }
         }
         .tt-dd {
           cursor: pointer;
           border: 0;
           &.open {
             background: $primary-header-active-btn-bg-color;
             color: $primary-header-active-btn-text-color;
             .tt-dd__toggle {
               color: $ghost-btn-hover-text-color;
             }
           }
           &__toggle {
             @extend .btn-ghost;
           }
           .dropdown-menu {
             background: $primary-header-btn-dropdown-bg-color;
             box-shadow: none;
             border-radius: 0;
             padding: 10px;
             margin: 0;
             border: 0;
             right: 0;
             left: 0;
             margin-top: 10px;
           }
           &__menu {
             &--list {
               display: block;
               padding: 10px;
               font-weight: 400;
               text-transform: uppercase;
               text-align: center;
               font-size: 13px;
               line-height: 1;
               color: $primary-header-btn-dropdown-list-text-color;
               background: $primary-header-btn-dropdown-list-bg-color;
               border: 1px solid transparent;

               &:hover {
                 background: transparent;
                 border-color: $primary-header-btn-dropdown-list-hover-border-color;
               }
               &:active {
                 background: $primary-header-btn-dropdown-list-hover-border-color;
                 border-color: transparent;
               }
             }
           }
         }
       }

       &.user__playing-game {
         .user__details {
           display: none;
         }
         .user__account-info {
           /* width: 350px;*/
           display: inline-block;
           .u-bal {
             display: none;
           }
           /*            &--text {
              width: calc(100% / 3);
              border-bottom: 1px solid #417865;
              border-top: 1px solid #424242;
            }*/
         }
       }
     }
   }
 }
 /*secondary-header sectopn*/

 .secondary-header {
   background: #025035;
   height: 44px;
   padding: 0px 20px;
   a {
     float: left;
     position: relative;
     display: inline-block;
     padding: 0 15px;
     margin: 0;
     text-decoration: none;
     text-transform: uppercase;
     line-height: 44px;
     color: $secondary-header-text-color;
     font-size: 14px;
     &:after {
       content: '';
       height: 2px;
       width: calc(100% - 30px);
       display: block;
       position: absolute;
       top: 0px;
       left: 15px;
     }

     &:first-child {
       &:after {
         width: calc(100% - 15px);
         left: 0;
       }
     }
     &:hover,
     &.active {
       &:after {

         background: $secondary-header-text-color;
       }
     }
     &.active {
       font-weight: 700;
     }
     &:first-child {
       padding-left: 0px;
     }
   }
 }

 .side-menu {
   background: $side-menu-bg-color;

   height: 100%;
   float: left;
   overflow: hidden;
   overflow-y: auto;
   z-index: 999999;
   position: fixed;
   top: 0;
   left: -250px;
   width: 250px;
   transition: all 250ms ease;
   @include customscrollbars;

   &.side-menu-opened {
     left: 0;
   }


   &__inner {
     a {
       display: inline-block;
       font-size: 15px;
       line-height: 15px;
       font-weight: bold;

       text-transform: uppercase;
       color: $side-menu-link-text-color;
       text-decoration: none;
       cursor: pointer;
       padding: 20px;
       clear: both;
       float: left;
       width: 100%;
       &:hover {
         color: $side-menu-link-hover-text-color;

         text-decoration: none;
       }
       &.menu-icn,
       &.user-name-m {
         position: relative; // &:after {
         //   content: '\E80B';
         //   font-family: "icon-font";
         //   top: 0;
         //   color: #fff;
         //   font-size: 20px;
         //   right: 0;
         //   padding: 15px 20px;
         //   line-height: 1;
         //   position: absolute;
         // }
         // &[aria-expanded="true"] {
         //   &:after {
         //     content: '\E80C';
         //   }
         // }
       }
       &.m-menu {
         display: none;
       }
     }
     .list-unstyled {
       transition: all 250ms ease;
     }
     .sub-menu {
       a {
         background: $side-menu-sublink-bg-color;
       }
     }
   }
 }

 @media only screen and (max-width: 991px) {
   .secondary-header {
     display: none;
   }
   .main-header {
     /* height: 72px;*/
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     /*height: 113px;*/
     position: relative;
     padding: 15px;
     height: 80px;
     &:after {

       background: $gameplay-window-border;
       content: '';
       position: absolute;
       top: 100%;
       bottom: 0;
       left: 0;
       width: 100%;
       height: 2px;
       right: 0;
     }

     &.gameplay-screen {
       height: 80px;
       .logo {
         img {
           width: auto;
           height: 50px;
           margin: auto;
         }
       }
     }

     .header__btn {
       display: none;
     }
     /* .menu-icon {
       background-size: 24px 21px;
       width: 34px;
     }*/
     .logo {
       padding: 0;
       position: absolute;
       left: 0;
       right: 0;
       width: 35%;
       margin: auto;
       img {
         /* max-height: 32px;*/
         /*  max-width: 150px;*/
         width: auto;
         height: 50px;
         margin: auto;
       }
     }
     .mobile-login-link {
       display: table-cell;
       vertical-align: middle;
       text-align: center;
       /* max-width: 30%;*/
       /* padding: 0 10px;
       text-align: right;
       text-transform: uppercase;

       font-size: 12px;
       font-weight: bold;
       color: #FFFFFF;*/
       &.btn-m-login {
         @media only screen and (max-width: 767px) {
           font-size: 10px;
           padding: 5px 10px;
           padding-top: 7px;
           border-width: 1px;

           @media only screen and (max-width: 359px) {
             width: 55px;
             padding: 3px;
             padding-top: 5px;
             line-height: 1.1;
           }
         }
       }
     }
     .menu-icon {
       background-position: 0 0;
       background-position: 0 0;
       width: 38px;
       background-size: cover;
       height: 20px;
     }
   }
   .side-menu {
     &__inner {
       a {
         padding: 15px 20px;
         font-size: 12px;
         &.m-menu {
           display: block;
         }
         &.d-menu {
           display: none;
         }
         &.menu-icn,
         &.user-name-m {
           &:after {
             padding: 12px 20px;
           }
         }
         &.user-name-m {
           text-transform: none;
           i {
             font-size: 16px;
           }
         }
       }
     }
   }
 }


 .mobile-login-modal {
   * {}
   .modal-dialog {
     margin: 0;
     .modal-header {
       /* .close {
         font-size: 50px;
       }*/
       border: 0;
     }
     .modal-content {
       border-radius: 0;
       width: 100vw;
       height: 100vh;
       border: 0;
       background-color: $popup-bg-color;
     }
     .modal-body {
       padding: 20px;
       .user-selected-game {
         text-align: center;
         margin-bottom: 10px;
         .game-pic {
           img {
             width: 75px;
             height: 75px;
             border-radius: 8px;
           }

           margin: auto;
         }
         .game-name-text {
           color: $game-card-title-text-color;
           font-size: 12px;
           margin-top: 5px;
         }
       }
       .m-btn-group {
         .btn {
           width: 100%;
           margin: 10px auto;
           text-transform: uppercase;
         }
         .make-favorite {
           font-size: 14px;
           color: $game-card-title-text-color;
           text-transform: uppercase;
           text-align: center;
           display: flex;
           align-items: center;
           justify-content: center;
           margin: 25px auto 15px;

           i {
             color: $game-card-favorite-selected-icon-color;
             font-size: 24px;
             margin-right: 10px;
           }
           &.active {
             i {
               &:before {

                 content: '';
                 color: $game-card-favorite-selected-icon-color;
                 content: '\E802';
                 font-family: "icon-font";
                 font-style: normal;
               }
             }
           }
         }

         /*  .separator {
           border: 0;
           border-bottom: 1px solid rgba(255, 255, 255, 0.3);
           width: 65%;
         }*/
       }
     }
   }
 }





 @media only screen and (max-width: 991px) {
   .mobile-login-modal {
     margin-top: 0!important;
     .modal-dialog {
       width: 100vw;
       height: 100vh;
       margin: 0;
     }

     .modal-header {
       padding: 0;
     }

     .modal-content {
       height: 100%;
       background: $site-body-bg-image no-repeat center center;
       background-size: cover;
       .modal-body {
         @include modalViewFitOnSmallScreen;
         flex-direction: column;
       }
     }
   }
 }
   .header__btn {
       
       .user__not-logged {
        display: initial;
         vertical-align: middle;
         box-sizing: border-box;
         float: right;
         .loginFormContainer{
          display: initial;
         }
       }
     }