  <div class="black-mask"></div>

<div class="page-body" [ngClass]="isCountryBlocked == false ? 'show':'hide'">
  <div class="page-wrapper">
    <app-app-header [isGameLaunch]="isGameLaunch" [resetPasswordToken]="resetPasswordToken" [resetPassword]="resetPassword" [redirectTo]="redirectTo" [windowLocation]="windowLocation"></app-app-header>
    <router-outlet></router-outlet>
    <!-- <div class="space-pusher push-side" [ngClass]="{'show': isGameLaunch == false,'hide': isGameLaunch == true}"></div> -->
  </div>
  <!-- <div class="page-footer push-side" [ngClass]="{'show': isGameLaunch == false,'hide': isGameLaunch == true}" >
    <app-footer></app-footer>
  </div> -->
  <app-fixed-footer-games [isGameLaunch]="isGameLaunch"></app-fixed-footer-games>
</div>
<div [ngClass]="isCountryBlocked!= undefined &&  isCountryBlocked ? 'show':'hide'">
  <app-country-block [countryCode]="countryCode"></app-country-block>
</div>

<!-- test test test -->
