<div class="sub-nav-tabs kyc-small">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#myDetails" data-toggle="tab">
 MY DOCUMENTS</a></li>
  </ul>
  <hr/>
  <div class="tab-content">
    <div class="tab-pane active kyc-details" id="fundsOverView">
      <div class="table-holder">
        <table class="table" *ngIf="sortedKycDetails">
          <tr *ngFor="let kycDoc of sortedKycDetails">
            <th class="status border-stroke " [ngClass]="{'approved':kycDoc.status == 'Verified','processing':kycDoc.status == 'Processing','new':kycDoc.status == 'New','requested':kycDoc.status == 'Requested','rejected':kycDoc.status == 'Rejected'}">
              <p>
                {{kycDoc.status}}
              </p>
            </th>
            <td class="description border-stroke">
              <table class="kyc-inner-table">
                <tr>
                  <td class="col-md-5">
                    <p>{{kycDoc.desc}}</p>
                  </td>
                  <td class="col-md-3">
                    <p>{{kycDoc.type}}
                      <br/>
                      <span>KYC Type</span></p>
                  </td>
                  <td class="col-md-4">
                    <label class="btn btn-md btn-primary btn-file">
                      {{kycDoc.buttonText}}
                      <input id="{{kycDoc.buttonId}}" type="file" accept="image/*" (change)="uploadProof($event,kycDoc.uploadType,kycDoc.buttonId)" (click)="clearAlreadyAvailableFile(kycDoc.buttonId)" />
                    </label>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12 btn-order-place">
          <div class="btn btn-md msg-success" *ngIf="serverResponse && serverResponse == 'DOCUMENT_SUBMIT_SUCCESS'">
            <i class="icon-img success-icon"></i> Document Submitted Successfully</div>
          <div class="btn btn-md msg-error" *ngIf="serverResponse && serverResponse != 'DOCUMENT_SUBMIT_SUCCESS'"> <i class="icon-img error-icon"></i>{{serverResponse}}</div>
        </div>
      </div>
      <app-jkr-loader *ngIf="!sortedKycDetails"></app-jkr-loader>
    </div>
  </div>
</div>
