@import "~variables.scss";


.kyc-details {
  /*  .loader-icon {
    margin-top: 30vh;
  }*/
  .table-holder {
    margin: -10px;
  }
  table {
    margin-bottom: 0;
    border-spacing: 10px;
    border-collapse: separate;
    padding: 0;
    .border-stroke {
      border: 1px solid $primary-color;
      padding: 10px;
    }
    .kyc-inner-table {
      width: 100%;
      max-width: 100%;
      border-spacing: 0px;
    }
    td,
    th {
      vertical-align: middle;
      font-weight: bold;

      /*     background-color: $table-odd-row-bg-color;*/
      p {
        margin: 0;
        color: #FFF;
        font-size: 14px;
        line-height: 1;
        span {
          font-weight: normal;
          color: #666;
          font-size: 11px;
        }
      }
    }
  }


  .status {
    text-align: center;
    &.approved,
    &.processing,
    &.rejected {
      border-color: $kyc-status-border-color !important;
    }

    &.approved,
    &.processing,
    &.requested,
    &.rejected {

      p {
        color: $kyc-status-text-color;
        text-transform: uppercase;
      }
    }

    &.approved {
      background: $kyc-status-bg-approved;
    }
    &.processing {
      background: $kyc-status-bg-processing;
    }

    &.requested {
      background: $kyc-status-bg-requested;
    }
    &.rejected {
      background: $kyc-status-bg-rejected;
    }
  }
  .btn-file {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    max-width: 100%;
    white-space: normal;
    input[type="file"] {
      position: absolute;
      top: -9999999;
      filter: alpha(opacity=0);
      opacity: 0;
      width: 0;
      height: 0;
      outline: none;
      cursor: inherit;
    }
  }
}

@media only screen and (max-width: 991px) {
  .kyc-details {
    table {
      border: 0;
      td,
      th {
        width: 100%;
        float: left;
        text-align: center;

        border: 0;
        p {
          color: #FFF;
          margin: 5px auto;
        }
      }
      /*      td {
        &:last-child {
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        }
      }*/
      /*tr {
        &.success {
          background-color: red;
        }
      }*/
    }
  }
}
