<app-games-section-header [sortBy]="sortBy" (sortGames)="sortGames($event,selectedGames,false)" (searchGames)="searchGames($event)" (filterCategory)="getGamesOnCategory($event,false)" [selectedCategory]="category" [listType]="listType" (changeDisplayType)="changeDisplayType($event)"></app-games-section-header>
<div class="container">
  <div class="games-section    push-side">
    <app-games-section-side-nav [selectedCategory]="category" (filterCategory)="getGamesOnCategory($event,false)"></app-games-section-side-nav>
    <app-games-section-content *ngIf="selectedGames != undefined && selectedGames.length>0" [selectedGames]="selectedGames" [allFavGames]="allFavGames" [category]="category" (toggleFavourite)="toggleFavourite($event)" (playGame)="playGame($event)" [sortBy]="sortBy" [listType]="listType">
    </app-games-section-content>
    <!--     <h1 *ngIf="selectedGames != undefined && selectedGames.length<=0"> No Games Found </h1> -->
    <div class="no-games-found" *ngIf="selectedGames != undefined && selectedGames.length<=0">
      <div class="no-games-found__box">
        <h3> No Games Found</h3>
      </div>
    </div>
    <app-jkr-loader *ngIf="selectedGames == undefined"></app-jkr-loader>
 <!--    <div class="loader-icon " >
      <img src="/assets/img/loader.png" class="logo-flashing">
        <h3 > Loading ...</h3>
    </div> -->
  </div>
</div>

<div id="mobileGameClickModal" class="modal bounceIn mobile-login-modal" role="dialog" *ngIf="selectedGame">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
             <i class="icon-close"></i>

        </button>
      </div>
      <div class="modal-body">
        <div class="user-selected-game">
          <div class="game-pic">
            <img src="{{hostName}}/uploads/games/{{websiteCode}}/{{selectedGame.gameCode}}/{{selectedGame.gameCode}}_mobile.png" alt=" {{selectedGame.name}}" title="{{selectedGame.name}}" >
          </div>
          <div class="game-name-text">
            {{selectedGame.name}}
          </div>
        </div>
        <div class="m-btn-group">
          <div *ngIf="!isUserLoggedIn">
            <button class="btn btn-ghost btn-md " (click)="openModalFromGame('loginModal',true)">Login</button>
            <button class="btn btn-primary btn-md " (click)="openModalFromGame('signUpModal-',true)"> Join & Get Bonuses!</button>
          </div>
          <div *ngIf="isUserLoggedIn">
            <button class="btn btn-ghost btn-md " (click)="openGame(selectedGame.pristineGameId,'')">PLAY NOW</button>
          </div>
          <!-- <hr class="separator"> -->
          <div class="make-favorite" [ngClass]="{'active':allFavGames[selectedGame.pristineGameId]}" (click)="toggleFavouriteForGame(selectedGame.pristineGameId,selectedGame.gameCode)"><i class="icon-star-line"></i> <span class="text"> Add To Favourites</span></div>
          <button class="btn btn-primary btn-md " (click)="openGame(selectedGame.pristineGameId,'free')"> Try Game First</button>
        </div>
      </div>
    </div>
  </div>
</div>
