<div id="staticPagePopup" class="modal fade staticPageModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content {{url}}">
      <app-static-pages [url]="url" [callingFrom]="'popup'"></app-static-pages>
    </div>
  </div>
</div>
