<div *ngIf="profileDetails && countryData" class="form-input">
  <form [formGroup]="updateProfileForm" novalidate (ngSubmit)="updateProfile('updateProfileButton')" (keyup.enter)="updateProfile('updateProfileButton')">
    <div *ngIf="serverResponse && serverResponse!='UPDATE_PROFILE_SUCCESS'"></div>
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="form-group">
          <label>Email</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('email',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('email',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('email',updateProfileForm)}}</div>
            </div>
            <input type="email" formControlName="email" name="email" placeHolder="Your e-mail" class="form-control" (focus)="onFocusForElement('email')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('nickname',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('nickname',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('nickname',updateProfileForm)}}</div>
            </div>
            <input type="text" formControlName="nickname" name="nickname" placeHolder="Choose username" class="form-control" (focus)="onFocusForElement('nickname')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('firstName',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('firstName',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('firstName',updateProfileForm)}}</div>
            </div>
            <input type="text" class="form-control" formControlName="firstName" name="firstName" placeHolder="First Name" (focus)="onFocusForElement('firstName')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('lastName',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('lastName',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('lastName',updateProfileForm)}}</div>
            </div>
            <input type="text" class="form-control" formControlName="lastName" name="lastName" placeHolder="Last Name" (focus)="onFocusForElement('lastName')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>Date Of Birth </label>
          <div class="dob-row">
            <div id="bdaySelectContanier" class="dob-select dob-date" [ngClass]="getFormFiledClass('bDay',updateProfileForm)">
              <select id="bdaySelect" formControlName="bDay" class="form-control" (focus)="onFocusForElement('bDay')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled>
                <option value="">DD</option>
                <option *ngFor="let n of [].constructor(31);let date=index" [ngValue]="date+1">{{date+1}}</option>
              </select>
            </div>
            <div id="bMonthSelectContanier" class="dob-select dob-month" [ngClass]="getFormFiledClass('bMonth',updateProfileForm)">
              <select id="bMonthSelect" formControlName="bMonth" class="form-control" (focus)="onFocusForElement('bMonth')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled>
                <option value="">MM</option>
                <option *ngFor="let n of [].constructor(12);let month=index" [ngValue]="month+1">{{month+1}}</option>
              </select>
            </div>
            <div id="bYearSelectContanier" class="dob-select dob-year" [ngClass]="getFormFiledClass('bYear',updateProfileForm)">
              <select id="bYearSelect" formControlName="bYear" class="form-control" (focus)="onFocusForElement('bYear')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled>
                <option value="">YYYY</option>
                <option *ngFor="let year of yearRange;let last=last" [ngValue]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <label>Gender </label>
          <div class="gender-row">
            <div class="radio   radio-inline">
              <input value="M" type="radio" name="gender" id="male" title="" formControlName="gender" disabled/>
              <label for="male">Male</label>
            </div>
            <div class="radio radio-inline">
              <input value="F" type="radio" name="gender" id="female" title="" formControlName="gender" disabled/>
              <label for="female">Female</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="form-group">
          <label>Address Line 1</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('address1',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('address1',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('address1',updateProfileForm)}}</div>
            </div>
            <input type="text" formControlName="address1" name="address1" placeHolder="Street Address" class="form-control" (focus)="onFocusForElement('address1')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" />
          </div>
        </div>
        <div class="form-group">
          <label>Address Line 2</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('address2',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('address2',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('address2',updateProfileForm)}}</div>
            </div>
            <input type="text" formControlName="address2" name="address2" placeHolder="Street Address" class="form-control" (focus)="onFocusForElement('address2')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" />
          </div>
        </div>
        <div class="form-group">
          <label>City</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('city',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('city',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('city',updateProfileForm)}}</div>
            </div>
            <input type="text" formControlName="city" name="city" placeHolder="Town or City" class="form-control" (focus)="onFocusForElement('city')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" />
          </div>
        </div>
        <div class="form-group">
          <label>Country</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('country',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('country',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('country',updateProfileForm)}}</div>
            </div>
            <select formControlName="country" (focus)="onFocusForElement('country')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" disabled>
              <option *ngFor="let country of availableCountries" [ngValue]="country.iso">{{country.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Postal Code</label>
          <div class="input-holder " [ngClass]="getFormFiledClass('zip',updateProfileForm)">
            <div class="error-msg" *ngIf="shouldShowErrors('zip',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('zip',updateProfileForm)}}</div>
            </div>
            <input type="text" formControlName="zip" name="zip" placeHolder="Post code" class="form-control" (focus)="onFocusForElement('zip')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="form-group">
          <label>Phone</label>
          <div class="input-holder ">
            <div class="error-msg" *ngIf="shouldShowErrors('phone',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('phone',updateProfileForm)}}</div>
            </div>
            <div class="tel-number">
              <input class="coutry-code" name="phone" id="phoneNumberFlag" ng-intl-tel-input>
              <div class="input-holder phone-number " [ngClass]="getFormFiledClass('phone',updateProfileForm)">
                <input class="form-control" (keypress)="mobileNumberValidation($event)" type="tel" formControlName="phone" name="phone" placeHolder="Your phone number" (focus)="onFocusForElement('phone')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" maxlength="10"  />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <div class="input-holder ">
            <div class="error-msg" *ngIf="shouldShowErrors('mobilePhone',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('mobilePhone',updateProfileForm)}}</div>
            </div>
            <div class="tel-number">
              <input class="coutry-code" name="mobilePhone" id="mobileNumberFlag" ng-intl-tel-input>
              <div class="input-holder phone-number " [ngClass]="getFormFiledClass('mobilePhone',updateProfileForm)">
                <input class="form-control" (keypress)="mobileNumberValidation($event)" type="tel" formControlName="mobilePhone" name="mobilePhone" placeHolder="Your phone number" (focus)="onFocusForElement('mobilePhone')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" maxlength="10"  />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-group" >
          <label>Mobile</label>
          <div class="input-holder "  >
            <div   class="error-msg"  *ngIf="shouldShowErrors('mobilePhone',updateProfileForm)">
              <div class="error-msg--inner">{{getErrorMessage('mobilePhone',updateProfileForm)}}</div>
            </div>
          <div class="tel-number ">
            <input class="coutry-code" name="mobilePhone" id="mobileNumberFlag" ng-intl-tel-input>
            <div  class="input-holder phone-number "[ngClass]="getFormFiledClass('mobilePhone',updateProfileForm)"  >
            <input class="form-control  " type="tel" formControlName="mobilePhone" name="mobilePhone" placeHolder="Your phone number" (focus)="onFocusForElement('mobilePhone')" (keydown)="onKeyPress()" (focusout)="onFocusOutForElement()" />
          </div>
          </div>
        </div>
        </div> -->
        <div class="form-group">
          <div class="checkbox ">
            <input id="sendOffers" type="checkbox" (click)="updatePreference('sendOffers')">
            <label for="sendOffers">
              <span class="loader-display" style="display: none;"><i class="icon-spin icon-loader"></i></span>
              <span class="label-text">Yes, please send me exclusive offers</span>
            </label>
          </div>
          <div class="checkbox checkbox-inline">
            <input id="sendOffersSms" type="checkbox" (click)="updatePreference('sendOffersSms')">
            <label for="sendOffersSms">
              <span class="loader-display" style="display: none;"><i class="icon-spin icon-loader"></i></span> <span class="label-text">Yes, send me sweet deals and offers by SMS</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-order-place">
      <div class="col-md-4">
        <button id="updateProfileButton" type="button" class="btn btn-md btn-primary btn-submit" (click)="updateProfile('updateProfileButton')"><span>UPDATE PROFILE</span></button>
      </div>
      <div class="col-md-8">
        <div class="btn btn-md msg-success" *ngIf="serverResponse && serverResponse == 'UPDATE_PROFILE_SUCCESS'">
          <i class="icon-img success-icon"></i> Your details have been updated</div>
        <div class="btn btn-md msg-error" *ngIf="serverResponse && serverResponse != 'UPDATE_PROFILE_SUCCESS'">
          <i class="icon-img error-icon"></i> {{serverResponse}}</div>
      </div>
    </div>
  </form>
</div>
<app-jkr-loader *ngIf="!profileDetails || !countryData"></app-jkr-loader>
