 @import "~variables.scss";




.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 26px;
      height: 26px;
      left: 0;
      margin-left: -20px;
      border: 2px solid $checkbox-border-color;
       background: $checkbox-bg-color;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &:after {
      display: inline-block;
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 6px;
      padding-top: 3px;
      font-size: 14px;
      color: $radio-btn-checked-color;
      line-height: 1.4;
    }
    &.loader-s {
      &:before,
      &:after {
        display: none;
      }

      .loader-display {
        display: block!important;
        width: 26px;
        height: 26px;
        border: 2px solid $checkbox-border-color;
         background: $checkbox-bg-color;
        position: absolute;
        left: -20px;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        line-height: 1;
        i {
          color: $radio-btn-checked-color;
          position: relative;
          top: 0px;
          left: 0px;
          padding: 2px;
          font-size: 18px;
        }
      }
    }

    .label-text {
      line-height: 1.2;
      display: inline-block;
    }
  }

  input {
    &[type="checkbox"],
    [type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
}





.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
  outline: none;
  outline-offset: 0;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
/*  font-family: 'Ionicons';
  content: "\F122";*/
content: '\E804';
   font-family: "icon-font";
}


.checkbox input[type="checkbox"]:indeterminate+label::after,
.checkbox input[type="radio"]:indeterminate+label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
  opacity: 0.65;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled+label::after,
.checkbox input[type="radio"]:disabled+label::after {
  color: #999;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.radio {
  padding-left: 20px;
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
    font-size: 15px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 26px;
      height: 26px;
      left: 0;
      margin-left: -20px;
      border: 2px solid $checkbox-border-color;
      border-radius: 50%;
      background-color: transparent;
      transition: all 250ms ease;
    }

    &:after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 8px;
      height: 8px;
      left: 8px;
      top: 9px;
      margin-left: -19px;
      border-radius: 50%;
      background-color: #FFF;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      transition: all 250ms ease;
    }
  }
}



.radio {
  input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    &:focus {
      &+label {
        &:before {
          outline: none;
          outline-offset: 0;
        }
      }
    }
    &:checked {
      &+label {
        &:after {
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }
    &:disabled {
      cursor: not-allowed;
      &+label {
        opacity: 0.65;
        cursor: not-allowed;
        &:before {
          cursor: not-allowed;
        }
        &:after {
          background-color: #999;
          cursor: not-allowed;
        }
      }
    }
  }
}








.radio.radio-inline {
  margin-top: 0;
}


input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
/*  font-family: 'Ionicons';
  content: "\F122";*/
  content: '\E804';
   font-family: "icon-font";
}




input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
  color: #fff;
}
