@font-face {
  font-family: 'icon-font';
  src: url('/assets/fonts/icon-font/icon-font.eot?45243861');
  src: url('/assets/fonts/icon-font/icon-font.eot?45243861#iefix') format('embedded-opentype'),
  url('/assets/fonts/icon-font/icon-font.woff2?45243861') format('woff2'),
  url('/assets/fonts/icon-font/icon-font.woff?45243861') format('woff'),
  url('/assets/fonts/icon-font/icon-font.ttf?45243861') format('truetype'),
  url('/assets/fonts/icon-font/icon-font.svg?45243861#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}




/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-font';
    src: url('../font/icon-font.svg?45243861#icon-font') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  /*  width: 1em;
  margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em;*/
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-thumb-1:before { content: '\e800'; } /* '' */
.icon-star-line:before { content: '\e801'; } /* '' */
.icon-star-fill:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-tick:before { content: '\e804'; } /* '' */
.icon-shrink:before { content: '\e805'; } /* '' */
.icon-search2:before { content: '\e806'; } /* '' */
.icon-arrow-left:before { content: '\e807'; } /* '' */
.icon-arrow-right:before { content: '\e808'; } /* '' */
.icon-fire:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-list:before { content: '\e80e'; } /* '' */
.icon-hot:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-eye-hide:before { content: '\e811'; } /* '' */
.icon-expand:before { content: '\e812'; } /* '' */
.icon-close:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e814'; } /* '' */
.icon-arrow-round-right:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-arrow-round-left:before { content: '\e817'; } /* '' */
.icon-triangle-left:before { content: '\e818'; } /* '' */
.icon-history:before { content: '\e819'; } /* '' */
.icon-menu:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-time:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-grid-view:before { content: '\e81e'; } /* '' */
.icon-list-view:before { content: '\e81f'; } /* '' */
.icon-grid:before { content: '\e820'; } /* '' */
.icon-triangle-right:before { content: '\e823'; } /* '' */
.icon-loader:before { content: '\e839'; } /* '' */
.icon-thumb:before { content: '\f164'; } /* '' */


/* '' */

.icon-spin {
  display: inline-block;
  animation: spin 0.8s linear infinite;
  -webkit-animation: spin 0.8s linear infinite;
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/*
.success-icon{      background: url('/assets/img/success-icon.svg') no-repeat center;}
.error-icon{      background: url('/assets/img/error-icon.svg') no-repeat center;}*/
