/* @import "~variables-theme.scss";*/

@import "~variables.scss";
@import "~buttons.scss";
@import "~tooltip-arrow-mixin.scss";

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin modalViewFitOnSmallScreen {
  height: 100vh;
  width: 100vw;
  min-height: 1px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   background-color: $signUpPopupBgColor;*/
}


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}




/*Theme Buttons*/

@mixin opacity($opacity) {
  opacity: $opacity; // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

.casheir-lable {
  font-size: 14px;
  color: $casheir-lable-text-color;
  font-weight: 400;
}

.casheir-input {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid $primary-color;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 12px 10px;
  width: 100%;
  height: auto;
  box-shadow: none;
  transition: all 250ms ease;

  @include placeholder {
    color: $input-placeholder-color;
  }
}




/*all payement logos*/


/*Payment list grid style*/

@mixin payment-option-list-grid {
  width: 96px;
  height: 60px;
  margin: 4px;
  float: left;
  background: rgba($casheir-payment-option-list-bg-color, 0.1);
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-size: 100%!important;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.2s;
}



/*Payment card optionlist mixin used in cashier page ------ Grey Logos -----*/

@mixin payment-method-logo-grey {
  &.creditcard {
    background: url('/assets/img/casheir/grey/creditcard.png');
  }
  &.neteller {
    background: url('/assets/img/casheir/grey/neteller.png');
  }
  &.ecopayz {
    background: url('/assets/img/casheir/grey/ecopayz.png');
  }
  &.instadebit {
    background: url('/assets/img/casheir/grey/instadebit.png');
  }
  &.upaycard {
    background: url('/assets/img/casheir/grey/upaycard.png');
  }
  &.qiwi {
    background: url('/assets/img/casheir/grey/qiwi.png');
  }
  &.citadel {
    background: url('/assets/img/casheir/grey/citadel.png');
  }
  &.interac {
    background: url('/assets/img/casheir/grey/interac.png');
  }
  &.trustly {
    background: url('/assets/img/casheir/grey/trustly.png');
  }
  &.neosurf,
  &.neosurfvoucher {
    background: url('/assets/img/casheir/grey/neosurf.png');
  }
  &.empcorp {
    background: url('/assets/img/casheir/grey/empcorp.png');
  }
  &.cashlib {
    background: url('/assets/img/casheir/grey/cashlib.png');
  }
  &.flexepin {
    background: url('/assets/img/casheir/grey/flexepin.png');
  }
  &.inpay {
    background: url('/assets/img/casheir/grey/inpay.png');
  }
  &.skrill {
    background: url('/assets/img/casheir/grey/skrill.png');
  }
  &.idebit {
    background: url('/assets/img/casheir/grey/idebit.png');
  }
  &.paysafecard {
    background: url('/assets/img/casheir/grey/paysafecard.png');
  }
  &.banklocal,
  &.bankintl,
  &.bankiban,
  &.bank{
    background: url('/assets/img/casheir/grey/banktransfer.png');
  }
}



/*Payment card optionlist mixin used in cashier page ------ Color Logos -----*/

@mixin payment-method-logo-color {


  &.creditcard {
    background: url('/assets/img/casheir/color/creditcard.png');
  }
  &.neteller {
    background: url('/assets/img/casheir/color/neteller.png');
  }
  &.ecopayz {
    background: url('/assets/img/casheir/color/ecopayz.png');
  }
  &.instadebit {
    background: url('/assets/img/casheir/color/instadebit.png');
  }
  &.upaycard {
    background: url('/assets/img/casheir/color/upaycard.png');
  }
  &.qiwi {
    background: url('/assets/img/casheir/color/qiwi.png');
  }
  &.citadel {
    background: url('/assets/img/casheir/color/citadel.png');
  }
  &.interac {
    background: url('/assets/img/casheir/color/interac.png');
  }
  &.trustly {
    background: url('/assets/img/casheir/color/trustly.png');
  }
  &.neosurf,
  &.neosurfvoucher {
    background: url('/assets/img/casheir/color/neosurf.png');
  }
  &.empcorp {
    background: url('/assets/img/casheir/color/empcorp.png');
  }
  &.cashlib {
    background: url('/assets/img/casheir/color/cashlib.png');
  }
  &.flexepin {
    background: url('/assets/img/casheir/color/flexepin.png');
  }
  &.inpay {
    background: url('/assets/img/casheir/color/inpay.png');
  }
  &.skrill {
    background: url('/assets/img/casheir/color/skrill.png');
  }
  &.idebit {
    background: url('/assets/img/casheir/color/idebit.png');
  }
  &.paysafecard {
    background: url('/assets/img/casheir/color/paysafecard.png');
  }
  &.banklocal,
  &.bankintl,
  &.bankiban,
  &.bank{
    background: url('/assets/img/casheir/color/banktransfer.png');
  }
}



/*custom scrollbar*/

@mixin customscrollbars {
  &::-webkit-scrollbar {
    width: 5px;
    /*      height: $size;*/
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: darken($primary-color, 20%);
    cursor: pointer;
  }
}



/*@include customscrollbars(5px, slategray);
*/

@mixin landscape-screen-height {
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    width: 100vw!important;
    height: 100vw!important;
  }
}

@mixin position-sticky {
  position: sticky;
  top: 0;
  z-index: 999999;
}

@mixin texture-title {
  background: none;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-size: 0;
  }

  -webkit-background-size: auto;
  -o-background-size: 0;
  -webkit-text-fill-color: #ffff;
  -webkit-background-clip: text;
  color: #fffff;
}
