
 /*site font*/
$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Cinzel',serif;

/*$font-secondary:Arial, sans-serif;
*/
 /*General*/
/*Site basic theme*/
$site-body-bg-color:#000000;
$site-body-bg-image: $site-body-bg-color url('/assets/img/bg.jpg') ;
$loader-bg-color-static-pages:rgba(#000, 0.8);

$primary-color:#EF5048;
$primary-mix-color:#EF5048;

$secondary-color: #EF5048;
$secondary-mix-color:#EF5048;

$additional-color:#fdfcfc;
$additional-mix-color:#dfe1e0;

/*Gradient ribbon bars*/
$goldbar-gradient:linear-gradient(90deg, $primary-mix-color 0%, $primary-color 50%, $primary-mix-color 100%); 
$bluebar-gradient:linear-gradient(90deg, $secondary-color 0%, $secondary-mix-color 50%, $secondary-color 100%); 
$whitebar-gradient:linear-gradient(90deg, $additional-mix-color 0%, $additional-color 50%, $additional-mix-color 100%); 


$page-not-found-bg-color:rgba(#000, 0.8);
$page-not-found-title-color:$primary-color;
$page-not-found-page-text-color:#FFFFFF;

$footer-bg-color:rgba(#000, 0.85);
$footer-text-color:#FFFFFF;
$section-separator:$bluebar-gradient ;
$anchor-link-color:$primary-color;


/*Popupstyle*/
$popup-bg-color:rgba(#000, 0.9);
$popup-title-text-color:#FFFFFF;



$banner-slider-indicator-bg-color:#000000;
$banner-slider-active-indicator-bg-color:$primary-color;



/*Buttons*/
/*primary-btn*/
$primary-btn-bg-color:$goldbar-gradient;
$primary-btn-text-color:#FFFFFF;
$primary-btn-hover-text-color:#FFFFFF;

/*secondary-btn*/
$secondary-btn-bg-color:$bluebar-gradient;
$secondary-btn-text-color:#000000;
$secondary-btn-hover-text-color:darken($secondary-color, 5%);

/*disabled-btn*/
$disabled-btn-bg-color:#303030; 


/*ghost btn and primary-header-btn*/
$ghost-btn-bg-color:transparent;
$ghost-btn-text-color:#FFFFFF;
$ghost-btn-border-width:2px;
$ghost-btn-border-style:solid;
$ghost-btn-border-color:none;
$ghost-btn-hover-bg-color:#FFFFFF;
$ghost-btn-hover-text-color:#000000;



/*Banner Button*/
$banner-btn-bg-color:#EF5048;
$banner-btn-text-color:#FFF;
$banner-btn-hover-bg-color:#ca2a22;
$banner-btn-hover-text-color:#FFF;
$banner-btn-border-style:solid;
$banner-btn-border-width:2px;
$banner-btn-border-color:none;
$banner-btn-border-radius:0;

 





/*Error msg */
$black-bg-color:#000;
$error-msg-bg-color:$secondary-color;
$error-msg-text-color:#FFFFFF;
$fail-msg-bg-color:transparent;
$fail-msg-text-color:#FFFFFF;
$fail-msg-border-color:#d2232a;
$success-msg-bg-color:transparent;
$success-msg-text-color:#FFFFFF;
$success-msg-border-color:$secondary-color;
$success-field-tick-color:$secondary-color;
$success-msg-fill-color:$secondary-color;
$fail-msg-fill-color:#d2232a;

 

/*form fields*/
$radio-btn-checked-color:#FFFFFF;
$radio-btn-default-color:#FFFFFF;
$radio-btn-text-color:#FFFFFF;
$checkbox-border-color:$primary-color;
$checkbox-bg-color:transparent;
$input-placeholder-color:#999;
$input-field-bg-color:transparent;



/*table style*/
$table-odd-row-bg-color:#000000;
$table-even-row-bg-color:#1b1b1b;
$table-body-text-color:#FFFFFF;
$table-head-bg-color:$goldbar-gradient;
$table-head-text-color:#FFFFFF;
$table-footer-bg-color:transparent;
$table-footer-text-color:#FFFFFF;
$table-footer-border-top-color:rgba(#000, 0.015);
$table-td-border-color:#ddd;


/*signup-popup-form*/
$signup-popup-lable-text-color:#FFFFFF;
$signup-popup-footer-text-color:#FFFFFF;
$signup-popup-footer-linktext-color:$primary-color;
$signup-popup-progress-bar-border-color:#FFFFFF; 
$signup-popup-progress-bar-bg-color:transparent;
$signup-popup-progress-bar-fill-bg-color:$secondary-color;


 


/*Header*/
/*Primary Header*/
$primary-header-bg-color:transparent;
$primary-header-bg-color-after-scroll:#000000;
$primary-header-deposit-btn-bg-color:$secondary-color;

/*dropdown*/
$primary-header-active-btn-bg-color:$ghost-btn-hover-bg-color;
$primary-header-active-btn-text-color:$ghost-btn-hover-text-color;
$primary-header-btn-dropdown-bg-color:rgba(#000, 0.8);
$primary-header-btn-dropdown-list-text-color:#FFFFFF;
$primary-header-btn-dropdown-list-bg-color:transparent;
$primary-header-btn-dropdown-list-hover-border-color:$ghost-btn-border-color;

/*Secondary Header*/
$secondary-header-bg-color:$goldbar-gradient;
$secondary-header-text-color:#FFFFFF;

/*side menu*/
$side-menu-bg-color:#000000;
$side-menu-link-text-color:#FFFFFF;
$side-menu-link-hover-text-color:#2280ce;
$side-menu-sublink-bg-color:#202020;



/*Games*/

/*Games section header*/
$games-section-header-bg-color:$whitebar-gradient;
$games-section-header-bg-border-color:$bluebar-gradient ;
$games-search-bar-bg-color:#000;
$games-search-bar-icon-color:#FFFFFF;
$games-filter-link-text-color:#000000;
$games-container-bg-color:transparent;
$games-filter-link-hover-text-color:#FFFFFF;



/*game ribbon*/
$game-ribbon-hot:#c22026;
$game-ribbon-hot-text-color:#FFFFFF;
$game-ribbon-new:#ffd851;
$game-ribbon-new-text-color:#1b1b1b;
$game-ribbon-featured:#ffd851; 
$game-ribbon-featured-text-color:#1b1b1b;
$game-ribbon-live:#1f793c;
$game-ribbon-live-text-color:#FFFFFF;
$game-ribbon-offline:#868686;
$game-ribbon-offline-text-color:#FFFFFF;


/*game card style*/
$game-card-bg-color:#262626;
$game-card-text-color:#FFFFFF;
$game-card-hover-bg-color:rgba(#000, 0.8);
$game-card-play-btn-bg-color:$primary-btn-bg-color;
$game-card-play-btn-text-color:$primary-btn-text-color;
$game-card-play-btn-hover-bg-color:darken($primary-color, 8%);
$game-card-play-btn-hover-text-color:$primary-btn-hover-text-color;
$game-card-favorite-icon-color:#999999;
$game-card-favorite-selected-icon-color:$primary-color;
$game-card-title-text-color:#FFF;



/*Game Play Page*/
$gameplay-window-border:$goldbar-gradient;

/*game play board*/
$game-play-bg:transparent;
$game-play-control-icon-bg-color:#000000;
$game-play-control-icon-text-color:#FFFFFF;
$game-play-control-icon-hover-text-color:$primary-color; 
$game-play-control-icon-favorite-color:$game-card-favorite-selected-icon-color;
$game-play-sidebar-bg-color:#000000;
$game-play-sidebar-border-left-color:#1e1e1e ;
$game-play-sidebar-section-title-text-color: $primary-color;
$game-play-sidebar-section-separtor:$primary-color;
$game-play-sidebar-section-gameinfo-text-color:#FFFFFF;
$game-play-sidebar-section-latest-winner-user-palyed-game-text-color:#FFF;
$game-play-sidebar-section-latest-winner-user-palyed-game-hover-text-color: $primary-color;
$game-play-sidebar-section-latest-winner-user-name-text-color:#999999;;
$game-play-sidebar-section-latest-winner-user-won-amout-text-color:#FFF;
$game-play-sidebar-open-btn-bg-color:#000000;
$game-play-sidebar-open-btn-text-color: #ffffff;
$game-play-sidebar-open-btn-text-hover-color:$primary-color;
$game-play-sidebar-offer-text-color:$primary-color;


/*Promotions yet t0 add in json theme*/
$promotions-btn-bg-color: $banner-btn-bg-color;
$promotions-btn-text-color:$banner-btn-text-color;
$promotions-btn-hover-bg-color:$banner-btn-hover-bg-color;
$promotions-btn-hover-text-color:$banner-btn-hover-text-color;

$promo-banner-btn-border-style:$banner-btn-border-style;
$promo-banner-btn-border-width:$banner-btn-border-width ;
$promo-banner-btn-border-color:$banner-btn-border-color;
$promo-banner-btn-border-radius: $banner-btn-border-radius;



$promo-card-bg-color:rgba(#000000, 0.8);
$promo-card-title-text-color:#FFF;
$promo-card-text-color:rgba(#FFF, 0.5);






/*--------------   My Account Page   --------------*/

/*my account setting*/

$my-account-header-bg-color:transparent;
$my-account-tab-link-text-color:#FFFFFF;
$my-account-active-tab-bg-color:$primary-btn-bg-color;
$my-account-active-tab-text-color:$primary-btn-text-color;
$my-account-subtab-link-text-color: #999;
$my-account-subtab-link-hover-text-color:$secondary-color;
$my-account-subtab-active-link-text-color:$primary-color ;
$my-account-form-lable-text-color:#FFFFFF;
$my-account-success-msg-bg-color:#5a983f;
$my-account-success-msg-text-color:#fff;
$my-account-error-msg-bg-color:#cb2525;
$my-account-error-msg-text-color:#fff;
$my-account-section-separtor-left-color:#f1f1f1;
$my-account-section-separtor-right-color:#999 ;

$my-account-mobile-section-title-text-color:#FFF;
$my-account-mobile-section-title-border-bottom-color: rgba(#FFF, 0.3);
$my-account-mobile-bg-color:#1e634b;
$my-account-mobile-sub-nav-separator:$my-account-mobile-section-title-border-bottom-color;
$my-account-mobile-form-lable-text-color:#fff;
$my-account-mobile-table-border-color:#ddd;




/*Casheier page*/
$casheir-header-bg-color:$my-account-header-bg-color;
$casheir-active-tab-bg-color:$my-account-active-tab-bg-color;
$casheir-tab-link-text-color:$my-account-tab-link-text-color;
$casheir-body-bg-color: #d8d8d8;
$casheir-lable-text-color:#FFFFFF;
$casheir-payment-option-bg-color:transparent;
$casheir-payment-option-list-bg-color:#fff;
$casheir-payment-form-field-bg-color:#000000;
/*$casheir-payment-amount-btn-holder-bg-color:#d8d8d8;*/
$casheir-payment-amount-btn-bg-color:transparent;
$casheir-payment-amount-btn-text-color:#FFF;
$casheir-payment-amount-btn-bg-active-bg-color:$secondary-color;
$casheir-payment-amount-btn-border-color:$primary-color;
$casheir-bonus-amt-bg-color:transparent;
$casheir-radio-btn-checked-color:$casheir-payment-amount-btn-bg-active-bg-color;
$casheir-radio-btn-checked-label-text-color:$casheir-radio-btn-checked-color;
$casheir-radio-btn-nonchecked-color:#8c8c8c;
$casheir-radio-btn-nonchecked-label-text-color:$casheir-radio-btn-nonchecked-color;
$casheir-submit-btn-bg-color:#31e478;
$casheir-submit-btn-text-color:#FFF;
$casheir-error-msg-bg-color:#ffe0ba;
$casheir-error-msg-text-color:#ec7572;
$casheir-error-msg-tooltip-bg-color:#ec7572;
$casheir-error-msg-tooltip-text-color:#FFF;

$casheir-pending-withdral-bg-color: $casheir-payment-amount-btn-bg-active-bg-color;
$casheir-pending-withdral-text-color:$casheir-payment-amount-btn-text-color;
$casheir-pending-withdral-list-bg-color:$whitebar-gradient;
$card3d-redirection-page-bg-color:$whitebar-gradient;

/*KyC Status*/
$kyc-status-bg-approved:#2280ce;
$kyc-status-bg-processing:#d77d36;
$kyc-status-bg-requested:transparent;
$kyc-status-bg-rejected:#d2232a;
$kyc-status-text-color:#FFF;
$kyc-status-border-color:#FFF;


/*cms pages - static pages*/
/*cms pages styels*/
$cms-page-bg-color:transparent;
$cms-page-title-text-color:#FFF;
$cms-body-text-color:#FFF;
$cms-page-anchor-link-color:$anchor-link-color;
$cms-page-subtitle-text-color:$primary-mix-color;

 
/*Fixed Bottom Footer*/
$fixed-footer-bg-color:#000000;
$fixed-footer-link-text-color:#FFFFFF;
